
<br>

<!--Estructura Html para la grafica utilizando la libreria Prime ng y charts js-->
<div class="container-fluid custom-container">
    <div class="container-fluid custom-container">
        <div class="container-fluid custom-container">
            <div class="container-fluid custom-container">
                <form [formGroup]="Form" (ngSubmit)="GetResponseAPI()">
                <input type="text" class="b5" placeholder="React - Angular - Flutter"  formControlName="libreria"> &nbsp;
                
                <label>Selecciona La Cantidad de Repositorios</label>        &nbsp;
                <select  id="selectNumber"  formControlName="cantidadRepo">
                      <option>1</option> 
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                    </select>
                  
                    &nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="Form.invalid" >CONSULTAR</button>
            </form>
            </div>
            <div class="container-fluid custom-container">
                <span id="span">Se mostraran los resultados de las ultimas 7 semanas de cada repositorio.</span>
                <div class="card custom-card">
                    <p-chart type="line" [data]="data" [options]="options" style="cursor: pointer;"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
